<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>815480471211-m0l6ldkiklvsrjfm6la90lbik2g317tt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.815480471211-m0l6ldkiklvsrjfm6la90lbik2g317tt</string>
	<key>API_KEY</key>
	<string>AIzaSyDxQRgvb7-iID05R6i8N0cMtsg8tbZAmSE</string>
	<key>GCM_SENDER_ID</key>
	<string>815480471211</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.twitterClone</string>
	<key>PROJECT_ID</key>
	<string>flutter-twitter-clone-app</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-twitter-clone-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:815480471211:ios:67bf6e232e6f9af92a41ee</string>
</dict>
</plist>